.about_us{
    display: flex;
    flex-direction: column;
    padding: 0rem 10rem ;
    min-height: 500px;
    justify-content:space-evenly;
    align-items: center;
    min-width: 500px;
}




h1{
    
    font-family: 'Roboto';
    font-weight: 400;
    color: black;
    font-size: 3rem;
    text-align: center;
}


.about_us p{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 400;
    color: black;
    font-size: 1,5rem;
    text-align: center;
    max-width: 600px;
    text-align: center;
}