main {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 50px 0;
}

h2{
    
    margin: 40px;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 60px;
    font-weight: 600
}

.add_lobinho {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: solid black 3px;
    gap:20px
}



.nome-idade{
    height:4em;
    width: 400px;
    
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    
}
.nome , .idade-lobo, .link .descricao{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

textarea:focus, input:focus{
    outline: none;
}


.nome{
    flex-grow: 3;
    height: 4em;
}
.idade-lobo{

    height: 4em;
    max-width: 50px;   
}

.link{
    
    min-width: 300px;
    align-items: center;
    height: 4em;
    width: 400px;
    margin-bottom: 5px;
}

.descricao{
    width: 400px;
    align-items: center;
    height: 10em;
    
}
.link-input, .description-input{
    height: 2.5em;
    width: 400px;
    background-color:#E6E6E6

}
.link-input, .description-input:focus{
    
}


.description-input{
    height: 150px;
  
}

.submit{
    height: 2em;
    width: 80px;
    background-color: #2C5680;
    color: #fff;
}

#name-input, #age-input{
background-color: #E6E6E6;
height: 6em;
}