/*  global  */

body{
    min-width: 1128px;
}
/*fonts*/
h1, small,.line, input, label{
    color:#000;
    font-family: 'Darker Grotesque', sans-serif;
}

h1{
    font-weight: 600;
    font-size: 60px;

}

small{
    font-weight: 600;
    font-size: smaller;
}

label{
    font-weight: 500;
    font-size: 30px;
}


/* img */
.profile{  
    height:250px;
    width: 250px;
    border-radius: 50%; 
}


/* Flex*/

.title_profile{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap:5rem;
    padding-top: 5rem;
    margin-left: 25rem;
}
.tile{
    display:flex;
    flex-direction: column;
    gap:1em;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 2rem 25rem;
}

.last_line, .line{
    display: flex;
    gap: 20px;
    align-items:center;
    justify-content: space-between;
    flex-wrap:no-wrap;
    margin: 5px;
}


/* Form */

input{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border: 0;
    font-weight: 600;
    font-size: 30px;
    border-bottom: 1px solid; 
    outline:none;
}

.last_line{
    justify-content: center;
    padding-top: 1.5rem;
}

#POST_name{
    flex-grow: 8;
    
}

#POST_age{
    flex-grow: 0;
    resize:horizontal;
    width: 2.5em;   
   }
   
#POST_email{    
    flex-grow: 1;
}






/* Botão */
#send{
    padding: 20px 60px;
    background-color: #2C5680;
    color: #fff;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 600;
    font-size: 30px;
}
