.lobos {
    width: 100%;
    display: flex;
    justify-content: center;

}

.nome_lobo {
    display: flex;
    justify-content: space-between;
}


.adotar {
	background-color:#DEB959;
	border:1px solid #DEC950;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding: 10px 50px;
	text-decoration:none;
	text-shadow:0px 1px 0px #DEC950;
}
.adotar:hover {
	background-color:#DEC950;
}

.plus-wolf:hover{
	background-color:#DEC950;
}
.adotar:active {
	position:relative;
	top:1px;
}

.input-container input:focus, .input-container input:active {
    outline: none;
}
.input-container input {
    border: none;
}

.search-box{
	display: flex;
	align-items: center;
	justify-content:center;
	gap:10px;
	flex-wrap: nowrap;
	max-height: 4em;
}

.input-container {
    display: flex;
    max-width: 900px;
    border: 1px solid #a9a9a9;
    justify-content: flex-start;
	flex-grow:  3;	
}
.input-button{
	background-color:#fff;
	border-right: 1px solid;
	border: none;
	padding-right: 15px;
}

.input-button :hover{
	cursor:grab;
}
.input-field{
	margin: 5px;
	height: 2em;
	width: 60em;
}
.button-input{
	border: none;
}
.search{
	display: flex;

}

img .search{
	border-radius: 50%;
	background-color: #ffffff;
}

.plus-wolf{
	background-color:#DEB959;
	border:1px solid #DEC950;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding: 10px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #DEC950;

}
.container{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 20px;
	padding: 0px 390px;
}

#lobinho-adotad{
	display: inline-block;
}