main {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding: 50px 0;
    margin-bottom: -300px;
}

.nome_lobo {
    margin-bottom: 50px;

    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 2.25rem;
}


.inner_lobos_exemplo {
    display: grid;
    grid-template: 
    "lobo1 desc" 1fr 1fr
    "buttons a" 2fr 1fr
    /480px 480px 
}


.buttons {
    height: 50px;

    display: flex;
    justify-content: space-around;
}



.lobo_margin {
    margin: 20px;
    position: relative;
}

.lobo_margin img {
    z-index: 2;
    position: relative;

}

.lobo_shadow_left {
    width: 100%;
    height: 100%;
    transform: translateX(-25px) translateY(-25px);
    position: absolute;

    background-color: #2C5680;
    overflow: visible;

    border: #333333 solid 4px;
}

.adotar {
	background-color:#44c767;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:18px 43px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;

}
.adotar:hover {
	background-color:#5cbf2a;
}
.adotar:active {
	position:relative;
	top:1px;
}

.excluir {
	background-color:#c74444;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:18px 43px;
	text-decoration:none;
	text-shadow:0px 1px 0px #662727;

}
.excluir:hover {
	background-color:#bf2a2a;
}
.excluir:active {
	position:relative;
	top:1px;
}