* {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 

    margin: 0;
    padding: 0;

}


/** HEADER **/

header {
    padding: 5px 10px;
    background-color: #85CDF5;
}

.header_nav {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;

}

.header_item {
    display: grid;
    justify-content: center;
    align-items: center;

    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
}

.header_item_left {
    justify-self: end;
}

.header_item_right {
    justify-self: start;
}

.header_item a {
    text-decoration: none;
    color: black;
}

.header_nav_button a:hover {
    border-bottom: 2px solid black;

}

.logo {
    width: 4rem;
}


/** MAIN BACKGROUND **/


.background_image {
    background-image: url("/assets/lobo.png");
    background-attachment: fixed;
    
    padding: 200px 0;
    width: 100%;
    
    max-height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background_text {
    max-width: 800px;
}

.background_text h1 {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    color: white;

    font-size: 6rem;

    text-align: center;

    margin-bottom: 20px;
}

.background_text p {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 400;
    color: white;

    word-wrap: break-word;

    font-size: 2rem;

    text-align: center;
}

/** MAIN SOBRE **/

.sobre {    
    display: flex;
    justify-content: center;
    
    background-color: #2C5680;
    padding: 50px 20px;
}

.inner_sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 1000px;
    }

.inner_sobre h2 {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    color: #DEB959;
    font-size: 3rem;
    text-align: center;

    margin-bottom: 20px;


}

.inner_sobre p {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 1.5rem;

    text-align: center;
    line-height: 1.5;
}


/** MAIN VALORES **/

.valores {
    display: flex;
    justify-content: center;
    
    background-color: #333333;
    padding: 50px 20px;
}

.inner_valores {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 1000px;
}

.inner_valores h2 {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    color: #DEB959;
    font-size: 3rem;
    text-align: center;

    margin-bottom: 20px;
}

.cards {
    display: flex;

    margin-top: 2em;
    gap: 2em;
}


.card {
    width: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.card div {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 100%;

    width: 190px;
    height: 190px;

    background-color: white;
}

.card h3 {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    color: white;

    font-size: 2.12rem;

    margin-top: 1em;
}

.card p {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 400;
    color: white;

    font-size: 1.3rem;

    text-align: center;

    margin-top: 2em;
}


/** MAIN LOBOS EXEMPLOS **/

.lobos_exemplo {

    

    padding-bottom: 50px;

    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.lobos_exemplo h2 {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: #DEB959;

    margin: 50px 0;
}

.inner_lobos_exemplo {
    display: grid;
    grid-template: 
    "lobo1 desc" 1fr
    "lobo2 desc" 1fr
    /480px 480px
}

.lobo_margin {
    margin: 20px;
    position: relative;
}

.lobo_margin img {
    z-index: 2;
    position: relative;

}

.lobo_shadow_left {
    width: 100%;
    height: 100%;
    transform: translateX(-25px) translateY(-25px);
    position: absolute;

    background-color: #2C5680;
    overflow: visible;

    border: #333333 solid 4px;
}

.lobo_shadow_right {
    width: 100%;
    height: 100%;
    transform: translateX(25px) translateY(-25px);
    position: absolute;

    background-color: #2C5680;
    overflow: visible;

    border: #333333 solid 4px;
}

.desc_right {
    text-align: end;
}

.desc h3 {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
    color: black;
}

.idade {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: #000000;

    margin-top: 10px;
    margin-bottom: 20px;
}

.lobo_desc {
    word-wrap: break-word;

    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: black;
}





/** FOOTER **/


footer{
    background-color: #333;
    height: 270px;
}

.inner_footer {
    display: flex;
    height: 268px;
    align-items:center;
    justify-content:space-evenly;
    flex-wrap:wrap;
   
}

.gmap{
    border-color: transparent;
    width:250px; 
    height:168px;
}



.contacts li{
    
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 10;
    color: white;
    word-wrap: break-word;
    font-size: 1.5rem;
    text-align: left;
    background-color: #333;
}

.contacts_footer{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.contacts_footer a{
    align-self:flex-start ;
    background-color: #DEB959;
    text-decoration: none;
    margin-top: 2rem;
    padding: 1em;
}


.address{
    list-style-image:url(assets/gps.svg);
}

.phone{
    list-style-image:url(assets/phone.svg);
}
.mail{
    list-style-image:url(assets/gps.svg);
}

.botton_Logo{
    background-color: #333;
     
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 10;
    color: white;
    word-wrap: break-word;
    font-size: 1.5rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
}



